<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="app.css">
        <script src="https://unpkg.com/vue@3.0.2"></script>
    </head>
    <body>
    <div id="app">
        <div v-if="showBooks">
            <p>{{title}} <br> {{author}} <br> {{age}} <br> {{year}}</p>
            <button v-on:click="age++">age increase </button>
            <button v-on:click="age--"> age decrease</button>
            <div @click ="title='something else'">change book title</div>
            <div @click="changeAuthor">change author</div>
            <div @click="changeYear(2014)">change year</div>
            <ul>
                <li v-for="book in books">
                    <h3>{{book.title}}</h3>
                    <p>{{book.author}}</p>
                </li>
            </ul>
        </div>
        <button @click="toogleShowBooks">
            <span v-if="showBooks">Hide Books</span>
            <span v-else>Show Books</span>
        </button>
        <div v-show="showBooks">currently showing Books</div>
        <br><br><br><br>
        <div class="box" @mouseover="handleOver($event,5)">mouseover</div>
        <div class="box "@mouseleave ="handleOver">mouseleave</div>
        <div class="box" @dblclick ="handleOver">doubleclick</div>
        <div class="box" @mousemove="handleMousemove">Directions - {{ x }} {{ y }}</div>
    </div>
 
    <script src="app.js"></script>
    </body>
</html>